body
{
    margin: 0;
}


.wrapper
{
    width: 1440px;
    margin: 0 auto;
}


header
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url("../images/background.jpg");
}
header > img
{
    padding-top: 48px;
    padding-right: 60px;
}
header > div
{
    height: 823px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-top: 34px;
}
nav > div 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding-left: 56px;
}
.menu
{
    width: 5.5%;
    padding-top: 4px;
    padding-left: 0;
}
h1
{
    font-size: calc(1.2rem + 0.9vh);
    margin: 0;
}
nav div ul 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 47px;
    width: 28%;
    padding-top: 4.5px;
}

header article
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 6%;
    width: 1050px;
}

header article .info
{
    width: 60%;
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 28px;
}
header article .info h2
{
    margin: 0;
    font-size: calc(3rem + 1.6vh);
}
header article .info p
{
    margin: 0;
    font-size: calc(1rem + 0.8vh);
    width: 85%;
    padding-bottom: 9px;
}
header article .info .buttons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}
header article .info .buttons button
{
    font-size: calc(0.7rem + 0.3vh);
    border-radius: 30px;
    height: 45px;
}
.first-button
{
    border: none;
    width: 52%;
    background-color: #784f33;
    color: white;
}
.second-button
{
    width: 44%;
    border: 1px solid #784f33;
    color: #784f33;
    background-color: rgba(0, 0, 0, 0);
}

header article form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 328px;
    height: 541px;
    padding-top: 35px;
    margin-top: 42px;
    padding-bottom: 40.5px;
}
header article form h3
{
    font-size: calc(1rem + 1.3vh);
    margin: 0;
}
header article form .submit
{
    background-color: #295c7b;
    border: none;
    border-radius: 5px;
    height: 58px;
    width: 248px;
    font-size: calc(0.6rem + 0.4vh);
    color: white;
    margin: 0;
}
header article form div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 67%;
    width: 78%;
}
header article form div label
{
    font-size: calc(0.9rem + 0.2vh);
}
header article form div input, select
{
    width: 225px;
    height: 50px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #dbdbdb;
    padding: 0 0 0 18px;
}
select
{
    width: 245px;
    appearance: none;
    background: url(../images/arrow.svg) no-repeat right;
    background-position-x: 94%;
}


.main1
{
    height: 575px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 87px;
}
.main1-text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 110px;
}
.main1-text h2
{
    margin: 0;
    font-size: calc(2rem + 1.6vh);
}
.main1-text p
{
    margin: 0;
    font-size: calc(0.8rem + 0.4vh);
}
.main1 .advices
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
}
.main1 .advices > div
{
    width: 31.5%;
    height: 385px;
}
.main1 .advices > div .div1
{
    position: relative;
    z-index: 1;
    background-color: #f6e4d7;
    height: 152px;
    border-radius: 10px;
}
.main1 .advices > div .div1 div
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    width: 100%;
}
.main1 .advices > div .div1 div p
{
    margin: 0;
    font-size: calc(0.8rem + 0.8vh);
    margin-left: 15px;
    margin-bottom: 1px;
}
.main1 .advices > div .div2
{
    position: relative;
    top: -20px;
    z-index: 1;
    height: 189px;
    border: 1px solid #a9d6ff;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 34px 50px;
}
.main1 .advices > div .div2 p 
{
    margin: 0;
    line-height: 24px;
    font-size: calc(0.8rem + 0.2vh);
}
.main1 .advices > div .div2 .big-p
{
    width: 164px;
}
.main1 .advices > div .div2 a
{
    outline: none;
    text-decoration: none;
    color: #e2c38a;
}
.main1 .advices > div .div2 a:visited {
    color: #e2c38a;
}


.main2
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 597px;
    background-image: url(../images/background-main2.jpg);
    background-color: #fafafa;
    background-size: 1440px 350.5px;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 87px;
    padding-top: 75px;
}

.main2 div h3, p
{
    margin: 0;
}
.main2 div
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100px;
}
.main2 div h3
{
    font-size: calc(2rem + 1.6vh);
    padding-bottom: 12px;
}
.main2 div p
{
    font-size: calc(0.8rem + 0.4vh);
}


.main3
{
    height: 435px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 87px;
    background-color: #f3f3f3;
}
.main3-text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 108px;
    padding-top: 2px;
}
.main3-text h2
{
    margin: 0;
    font-size: calc(2rem + 1.6vh);
}
.main3-text p
{
    margin: 0;
    font-size: calc(0.8rem + 0.4vh);
}
.main3 .comments
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
}
.main3 .comments > div
{
    width: 297px;
    height: 184px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: white;
    padding: 30px 0 30px 35px;
}
.main3 .comments > div .div1
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main3 .comments > div .div1 div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 42px;
    width: 100%;
    padding-top: 1px;
}
.main3 .comments > div .div1 div span
{
    margin: 0;
    font-size: calc(0.4rem + 0.8vh);
    margin-bottom: 3px;
    color: #cfa044;
}
.main3 .comments > div .div1 div p
{
    margin: 0;
    font-size: calc(0.4rem + 0.8vh);
    margin-left: 15px;
    margin-bottom: 1px;
}
.main3 .comments > div .div2
{
    height: 113px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 21px;
}
.main3 .comments > div .div2 img
{
    width: 110px;
    height: 22px;
}
.main3 .comments > div .div2 p 
{
    margin: 0;
    font-size: calc(0.8rem + 0.2vh);
    line-height: 24px;
}


.main4
{
    height: 563px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 99px;
}
.main4-text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 108px;
    padding-top: 2px;
}
.main4-text h2
{
    margin: 0;
    font-size: calc(2rem + 1.6vh);
}
.main4-text p
{
    margin: 0;
    font-size: calc(0.8rem + 0.4vh);
}
.main4 .attorneys
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
}
.main4 .attorneys > div
{
    width: 328px;
    height: 373px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: white;
}
.main4 .attorneys > div .div1
{
    height: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 32px;
}
.main4 .attorneys > div .div1 p
{
    margin: 0;
    font-size: calc(0.8rem + 0.7vh);
}
.main4 .attorneys > div .div1 span
{
    margin: 0;
    font-size: calc(0.4rem + 0.8vh);
}