body
{
    margin: 0;
}


.wrapper
{
    width: 1440px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, ul, p, label, button
{
    font-family: "Martel", serif;
}

header
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url("../images/background.jpg");
}
header > img
{
    padding-top: 48px;
    padding-right: 60px;
}
header > div
{
    height: 823px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-top: 34px;
}
nav > div 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding-left: 60px;
}
.menu
{
    width: 5.5%;
    padding-left: 0;
}
h1
{
    font-size: calc(1rem + 0.8vh);
    margin: 0;
    color: #252b43;
}
nav div ul 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    width: 275px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding-right: 44px;
    padding-left: 5px;
    padding: 5px 44px 5px 5px;
    color: #737373;
}

header article
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 6%;
    width: 1050px;
}

header article .info
{
    width: 600px;
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 28px;
}
header article .info h2
{
    padding-top: 7px;
    margin: 0;
    font-size: 58px;
    font-weight: 900;
    line-height: 65px;
    color: #242a40;
    width: 700px;
}
header article .info p
{
    margin: 0;
    font-size: calc(0.8rem + 0.8vh);
    width: 539px;
    line-height: 30px;
    color: #737373;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}
header article .info .buttons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 347px;
}
header article .info .buttons button
{
    font-size: 14px;
    border-radius: 30px;
    height: 48px;
    font-family: "Open Sans", sans-serif;
}
.first-button
{
    border: none;
    width: 182px;
    background-color: #784f33;
    color: white;
}
.second-button
{
    width: 155px;
    border: 1px solid #784f33;
    color: #784f33;
    background-color: rgba(0, 0, 0, 0);
}

header article form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 328px;
    height: 539px;
    margin-top: 28px;
    padding-top: 40px;
    padding-bottom: 40px;
}
header article form h3
{
    font-size: 23px;
    color: #3f4659;
    margin: 0;
}
header article form .submit
{
    background-color: #295c7b;
    border: none;
    border-radius: 5px;
    height: 58px;
    width: 248px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin: 0;
}
header article form div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 369px;
    width: 248px;
}
header article form div label
{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #252b41;
}
header article form div input
{
    width: 225px;
    height: 50px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #7b7b7b;
    padding: 0 0 0 18px;
}
header article form div select
{
    width: 245px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #7b7b7b;
    padding: 0 0 0 18px;
    border: 1px solid #dbdbdb;
    appearance: none;
    background: url(../images/arrow.svg) no-repeat right;
    background-color: #f9f9f9;
    background-position-x: 94%;
    margin: 0;
}


.main1
{
    height: 575px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 87px;
}
.main1-text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 110px;
}
main h2
{
    margin: 0;
    font-size: 40px;
    color: #242a42;
    font-weight: 700;
}
main p
{
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.main1 .advices
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
}
.main1 .advices > div
{
    width: 31.5%;
    height: 385px;
}
.main1 .advices > div .div1
{
    position: relative;
    z-index: 1;
    background-color: #f6e4d7;
    height: 152px;
    border-radius: 10px;
    width: 332px;
}
.main1 .advices > div .div1 div
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    width: 100%;
}
.main1 .advices > div .div1 div p
{
    margin: 0;
    margin-left: 15px;
    margin-bottom: 1px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}
.main1 .advices > div .div2
{
    position: relative;
    top: -20px;
    z-index: 1;
    height: 193px;
    border: 1px solid #a9d6ff;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 50px;
}
.main1 .advices > div .div2 p 
{
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    letter-spacing: 0.2px;
}
.main1 .advices > div .div2 .big-p
{
    width: 184px;
}
.main1 .advices > div .div2 a
{
    outline: none;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #D0A144;
}
.main1 .advices > div .div2 a:visited {
    color: #D0A144;
}


.main2
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 597px;
    background-image: url(../images/background-main2.jpg);
    background-color: #fafafa;
    background-size: 1440px 350.5px;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 87px;
    padding-top: 75px;
}

.main2 div h3, p
{
    margin: 0;
}
.main2 div
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    padding-top: 5px;
}
.main2 div h2
{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.main2 div p
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}


.main3
{
    height: 435px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 87px;
    background-color: #f3f3f3;
}
.main3-text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 108px;
    padding-top: 2px;
}
.main3-text p 
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373; 
}
.main3 .comments
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
}
.main3 .comments > div
{
    width: 297px;
    height: 184px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: white;
    padding: 30px 0 30px 35px;
}
.main3 .comments > div .div1
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main3 .comments > div .div1 div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding-bottom: 9px;
}
.main3 .comments > div .div1 div span
{
    margin: 0;
    margin-bottom: 3px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #D0A144;
}
.main3 .comments > div .div1 div p
{
    margin: 0;
    margin-left: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.main3 .comments > div .div2
{
    height: 116px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}
.main3 .comments > div .div2 img
{
    width: 110px;
    height: 22px;
}
.main3 .comments > div .div2 p 
{
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}


.main4
{
    height: 563px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 99px;
}
.main4-text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 108px;
    padding-top: 2px;
}
.main4 .attorneys
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
}
.main4 .attorneys > div
{
    width: 328px;
    height: 373px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: white;
}
.main4 .attorneys > div .div1
{
    height: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 32px;
}
.main4 .attorneys > div .div1 p
{
    margin: 0;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}
.main4 .attorneys > div .div1 span
{
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.main5
{
    height: 491px;
    padding-left: 195px;
    background-image: url(../images/background-main5.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 99px;
}

.main5 .main5-text
{
    height: 74px;
}
.main5 .main5-text h4
{
    margin: 0;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.main5 .main5-text p
{
    margin: 0;
    padding-left: 2px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.main5 form
{
    width: 48%;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main5 form div
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main5 form input, select
{
    background-color: #F9F9F9;
    width: 265px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    padding: 0 0 0 18px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #bdbdbd;
}
.main5 form select
{
    width: 285px;
    height: 50px;
    appearance: none;
    background: url(../images/arrow.svg) no-repeat right;
    background-position-x: 94%;
    background-color: #F9F9F9;
}
.main5 form input::placeholder
{
    color: #bdbdbd;
}
.main5 textarea
{
    padding: 16px 0 0 26px;
    resize: none;
    margin-bottom: 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.main5 textarea::placeholder
{
    color: #BDBDBD;
}

.main5 button
{
    height: 58px;
    width: 215px;
    background: #784F33;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


.main6
{
    height: 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 234px 0 195px;
}
.main6 button
{
    height: 58px;
    width: 158px;
    background: #784F33;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #f8f4f3;
}
.main6 div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 62px;
}
.main6 div p
{
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}   
.main6 div h4
{
    margin: 0;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}


footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #252b42;
}
.footer-info
{
    height: 142px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1008px;
    padding-right: 45px;
    padding-left: 3px;
    border-bottom: 1px solid #363f66;
}
.footer-info h2
{
    padding-bottom: 5px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.addition
{
    height: 310px;
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;
}
.addition > div:first-child
{
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addition > div div
{
    height: 170px;
    width: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.addition h3
{
    margin: 0;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.addition > div div h3 
{
    width: 500px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.addition ul
{
    height: 126px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
}
.email_div
{
    display: flex;
    flex-direction: column;
    height: 125px;
    padding-bottom: 45px;
}
.email_div h3 
{
    margin-bottom: 20px;
}
.email_div form
{
    display: flex;
    align-items: center;
    width: 321px;
    border: 1px solid white;
    border-radius: 5px;
}
.email_div input
{
    border: none;
    width: 185px;
    height: 58px;
    padding: 0;
    padding-left: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
}
.email_div .submit
{
    width: 116px;
    height: 58px;
    padding: 0;
    background-color: #d0a145;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.email_div p
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
    padding-left: 3px;
}

.made-by 
{   
    height: 74px;
    width: 1245px;
    display: flex;
    align-items: center;
    font-size: calc(0.8rem + 0.2vh);
    background-color: #0470b0;
    padding-left: 195px;
}
.made-by p
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}